name: Deploy NestJS via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout reposiatory
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}  
          script: |
            cd /root/intern001-dating-app-server
            echo "Pulling latest code..."
            git fetch --all
            git reset --hard origin/duy
            echo " Rebuilding Docker containers..."
            export COMPOSE_HTTP_TIMEOUT=300
            docker-compose down
            docker-compose up -d --build
            echo "Deployment complete!"
